body {
  font-size: 16px;
  color: #000;
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color: #CC6666;
}

#header-nav {
  background-color: #00CC99;
  border-radius: 0;
  border: 0;
   
}
.navbar-brand {
  padding-top: 25px;

}
.navbar-brand h1 { /* Restaurant name */
  
  color: #660099;
  font-size: 1.7em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
h1{
	color: #000;
	text-align: center;
	font-weight: bolder;
	margin-bottom: 40px;
	font-size: 2.5em;
}
h3{
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
    color: #9933CC;
}
#chicken,#beef,#sushi{
	background-color: #CCCC99;
	margin:15px 10px 15px 10px;
}
.para{
	color: #000;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}
@media(min-width: : 990px){
.row{
 width: 85%;
 margin-left: 15px;
 margin-right: 30px;
  margin-bottom: 20px;
 
  overflow: hidden;
	}
}
@media(max-width: 767px){

	
	.navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    background-color: 
    #00CC99;
  }
	.row{
 width: 85%;
 margin-left: 30px;
  margin-bottom: 20px;
 
  overflow: hidden;
	}
}